{% style %}
    .beforeandnow {
    h3 {
        font-size: 1.5rem;
        font-weight: 600;
        color: #4a4a4a;
    }
    h2 {
        font-family: Georgia Pro, serif;
        font-size: 2.5rem;
    }
    p {
        font-size: 1.5rem;
        font-family: Georgia Pro, serif;
    } 
    @media (min-width: 750px) {
        h3 {
            font-size: 3rem;
        }
        h2 {
            font-size: 4rem;
        }
        p {
            font-size: 2rem;
            font-weight: 500;
        }
    }
{% endstyle %}

<div class="beforeandnow page-width">
    <h3>Sea Moss</h3>
    <h2>NATURE'S POWERHOUSE PACKED WITH VITAMINS AND MINERALS</h2>
    <p>Sea moss and oats are combined to create a powerhouse of vitamins and minerals that help provide intense moisture for the skin. Rich in Vitamin C- and B-Complex vitamins, which help to calm inflamed skin and provide protection.</p>
    <widgetic id="660943faecb2a1ea048b4567" resize="fill-width" width="787" height="492" autoscale="on" adaptive="414"></widgetic>
</div>
