{%- style -%}
    .ingredient-info {
        padding: 5rem 0;
    }
    .ingredient-info .content {
        background: #bacae5;
        padding: 5rem;
        h2 {
            font-size: 4rem;
            font-weight: 700;
            margin-bottom: 1rem;
        }
        p {
            font-weight: 700;
            tracking: 0.1rem;
            font-style: normal;
        }
    }
{%- endstyle -%}
<article class="ingredient-info">
    <div class="content">
        <h2>Full ingredients list</h2>
        <span> <i>New and improved formulation for eczema prone skin*</i> </span>
        <p>Aloe Barbadensis (Aloe Vera) Leaf Juice Organic, Helianthus Annuus (Sunflower) Seed Oil Organic, Emulsifying Wax NF, Stearic Acid, Vegetable Glycerin, Caprylic/Capric Triglyceride (Fractionated Coconut Oil), Butyrospermum Parkii (Shea Nut Butter) Organic, Avena Sativa (Colloidal Oatmeal) Kernel Flour, Simmondsia Chinensis (Jojoba) Seed Oil Organic, Polyacrylamide, C13-14 Isoparaffin, Laureth-7, Phenoxyethanol, Ethylhexylglycerin, Chondrus Crispus (Irish Moss) Extract, Oenothera Biennis (Evening Primrose) Oil Organic, Tocopherol (Vitamin E), Sodium Hyaluronate (Hyaluronic Acid), Linoleic Acid, Schinziophyton Rautanenii (Mongongo) Kernal Oil Virgin Organic, Bisabolol</p>
    </div>
</article>
