{%- style -%}
    .ingredient-info {
        padding: 5rem;
    }
    .ingredient-info .content {
        background: #bacae5;
        padding: 5rem;
        h2 {
            font-size: 4rem;
            font-weight: 700;
            margin-bottom: 1rem;
        }
        p {
            font-weight: 700;
            tracking: 0.1rem;
            font-style: normal;
            font-size: 2rem;
        }
    }
{%- endstyle -%}
<article class="ingredient-info">
    <div class="content">
        <h2>Full ingredients list</h2>
        <span> <i>New and improved formulation for eczema prone skin*</i> </span>
        <p>Pseudolarix amabilis Rehd, Sophora flavescens, Cnidium monnieri(L.)Cuss, Latin Tite, Wolfpoisom, Cortex Dictamni, Phellodendron Amurense Rupr, Gleditsia sinensis Linn, Typhonium Giganteum, Stemona Tuberosa.Lour, Rhizoma Smilacis Glabrae, Mosla Cavaleriei Lev, Rotunda Thun, L-MENTHOL, Chlorhexidine Acetate, Acid stearic,...</p>
    </div>
</article>
