{%- style -%}
.product-detail {
    padding: 5rem;
    background: #bfcfcf;
}
{%- endstyle -%}
<article class="page-width">
    <div class="product-detail">
        <div class="ff-secondary fw-400" style="font-size:16px;">
            <p>Introducing&nbsp;<strong>The Ocean Healed My Eczema</strong>™ - the ultimate natural solution for those seeking relief from eczema's persistent grip. Made with care amidst the tranquil shores of Hawaii, this miraculous cream harnesses the power of the ocean's bountiful treasures to deliver unparalleled magic. Dive into a world of pure bliss as your skin experiences the transformative touch of sea moss and oats.</p><h2>Discover Calm Skin with The Ocean Healed My Eczema™ Relief Cream<br></h2><p>Experience a touch of oceanic tranquility right in the palm of your hand. Introducing&nbsp;The Ocean Healed My Eczema™ Relief Cream—a&nbsp;gentle&nbsp;companion to battling eczema and dry skin. Harness the nourishing power of sea moss, a natural wonder that deeply moisturizes and soothes, offering you relief that feels like a day at the beach.<br><br>Why Choose The Ocean Healed My Eczema™?<br>1. <em><strong>Natural Ingredients</strong></em>: Our cream is crafted with care, featuring sea moss as a natural anti-inflammatory agent. This marine miracle works to&nbsp;soothe redness and itchiness, offering your skin the solace it deserves.<br><br>2. <em><strong>Safe for All Ages</strong></em>: With its non-toxic and natural formulation, The Ocean Healed My Eczema™ is a family-friendly choice, great for children and adults alike.<br><br>3. <em><strong>Long-Lasting Moisture</strong></em>: Don't just find a temporary fix. Feel the ongoing comfort as our cream provides a&nbsp;deep&nbsp;feeling of moisture to even the driest skin.&nbsp;We aim&nbsp;to keep your skin feeling soft and calm<em>&nbsp;all day long</em>.<br><br>Don't let eczema or dry skin dictate your day. Try The Ocean healed My Eczema™ Relief Cream and let your skin experience the calming embrace it's been craving. It's your first step toward serene,&nbsp;happier&nbsp;skin.</p>
        </div>
        <p class="link-btn">
        <a href="/pages/key-ingredients" class="button-palette-white inv">Full ingredient list</a>
        </p>
    </div>
</article>
