{%- style -%}
	.asi {
		padding-top: 3rem;
		padding-bottom: 3rem;
	}
	.asi-wrapper {
		display: flex;
		gap: 1rem;
		flex-direction: column;
		align-items: center;
	}

	.asi-title {
		text-align: center;
		font-size: 3rem;
		min-width: max-content;
		font-weight: 700;
		text-transform: uppercase;
		color:#233a96; 
	}

	.asi-images {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		gap: 3rem;
		align-items:center;
		justify-content: space-evenly;
	}

	.asi-image {
		max-width: 100%;
		max-height: 3rem;
		filter: grayscale(100%) brightness(0.5);
	}
	@media (min-width: 750px){
		.asi {
			padding-top: 5rem;
			padding-bottom: 5rem;
		}
		.asi-wrapper {
			gap: 3rem;
		}
		.asi-title {
			font-size: 3rem;
		}
		.asi-images {
			grid-template-columns: repeat(3, 1fr);
		}
		.asi-image {
			max-height: 4rem;
		}
	}
	@media (min-width: 1250px){
		.asi {
			padding-top: 5rem;
			padding-bottom: 5rem;
		}
		.asi-wrapper {
			gap: 3rem;
			flex-direction: row;
		}
		.asi-title {
			font-size: 3rem;
		}
	}
	@media (min-width: 1600px){
		.asi-image {
			max-height: 5rem;
		}
	}

{%- endstyle -%}
<article class="asi page-width">
	<div class="asi-wrapper">
		<h3 class="asi-title">{{section.settings.title}}</h3>
		<div class="asi-images">
			{% for block in section.blocks %}
				<img class="asi-image" src="{{block.settings.image | img_url: 'master'}}" alt="{{block.settings.alt}}">
			{% endfor %}
		</div>
	</div>
</article>

{% schema %}
{
	"name": "ASI",
	"settings": [
		{
			"type": "text",
			"id": "title",
			"label": "Title"
		}
	],
	"blocks": [
		{
			"type": "image",
			"name": "Image",
			"settings": [
				{
					"type": "image_picker",
					"id": "image",
					"label": "Image"
					},
					{
					 "type": "text",
					 "id": "alt",
					 "label": "Alt Text"
					}
			]
		}
	]
}
{% endschema %}
