{%- style -%}
    .ingredient-info {
        padding: 3rem 0;
    }
    .ingredient-info .content {
    background: {{section.settings.background}};
        padding: 2rem;
        h2 {
            font-size: 2.75rem;
            font-weight: 700;
            margin-bottom: 1rem;
        }
        p {
            font-weight: 700;
            tracking: 0.1rem;
            font-style: normal;
	    fotn-family: Georgia Pro, serif;
            font-size: 1.75rem;
        }
    }
    @media (min-width: 750px){
    .ingredient-info {
    padding: 5rem;
    }
    	.ingredient-info .content {
	    padding: 5rem;
	    h2 {
		font-size: 4rem;
	    }
	    p {
		font-size: 2rem;
	    }
	
    }
{%- endstyle -%}
<article class="ingredient-info page-width">
    <div class="content">
	    <h2>{{section.settings.title}}</h2>
	    <span> <i>{{section.settings.subtitle}}</i> </span>
	    <p>{{section.settings.description}}</p>
    </div>
</article>

{%- schema -%}
{
    "name": "Ingredient Info",
    "settings": [
	{
	    "type": "text",
	    "id": "title",
	    "label": "Title",
	    "default": "Ingredient Info"
	},
	{
	    "type": "text",
	    "id": "subtitle",
	    "label": "Subtitle",
	    "default": "Subtitle"
	},
	{
	    "type": "textarea",
	    "id": "description",
	    "label": "Description",
	    "default": "Description"
	    },
    {
	"type": "color",
	"id": "background",
	"label": "Background",
	"default": "#f4f4f4"
    }
    ]
}
{%- endschema -%}
