{%- style %}
.our-story-page {
    img {
        width: 100%;
        height: auto;
    }
    h2 {
        font-size: 2em;
        color: #333;
    }
    h3 {
        font-size: 1.5em;
        color: #666;
    }
    .section-1 {
        padding: 2rem;
        text-align: center;
        position: relative;
        img {
            border: 5px solid #fff;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
            position: relative;
            width: 100%;
            height: 600px;
            object-fit: cover;
            object-position: center;
            z-index: 1;
        }
        .text {
            position: absolute;
            top:50%;
            left: 50%;
            transform: translateX(-50%) translateY(-25%);
            z-index: 2;
            padding: 20px;
            border-radius: 10px;
            margin-top: -50px;
            h2 {
                margin: 0;
                font-size: 5rem;
            color: #f1f1f1;
            font-weight: bold;
            }
            h3 {
                margin: 0;
                font-size: 5rem;
                font-weight: light;
            color: #f1f1f1;
            }
        }
    }
    .section-2 {
        padding: 5rem 2rem;
    }
    .section-2 .content {
        background: #bacae5;
        padding: 5rem;
        h2 {
            font-size: 4rem;
            font-weight: 700;
            margin-bottom: 1rem;
            color: white;
        }
        p {
            font-weight: 400;
            font-size: 2rem;
        }
    }
}
{%- endstyle %}
<div class="our-story-page page-width">
    <article class="section-1">
        <img src="https://healedbytheocean.com/cdn/shop/files/IMG_1588.jpg?v=1694724638&width=620" alt="test"/>
        <div class="text">
            <h2> Our story </h2>
            <h3> & founder </h3>
        </div>
    </article>
    <article class="section-2">
        <div class="content">
            
            <h2>From struggle to soothing cream creation</h2>
            <p>
My name is Jay, the heart and soul behind HealedbytheOcean.com. Ever since I can remember, eczema was my unwelcome shadow. The constant itching and discomfort were things I learned to live with, an uninvited guest that turned every social encounter into an ordeal.
            </p>
            <p>
All throughout my school years, I was the "scratchy kid." Fast forward to my late twenties, I was nearing the end of my rope. The relentless itching, the never-ending search for a cure, the frustration - I was on the brink of surrender.
            </p>
            <p>
Everything changed the day I saw my 5-year-old niece, scratching her delicate skin raw. The thought of her enduring the same isolation and teasing I faced broke my heart.
            </p>
            <p>
In a desperate quest for respite, my wife and I embarked on an impromptu trip to a tropical paradise. On the third day, something miraculous happened. The combination of saltwater and sea moss seemed to alleviate my eczema like nothing ever had. The itching, the flaking, it all seemed to lessen. I found an unexpected solace in the embrace of the ocean.
            </p>
            <p>
Desperate to take this newfound relief home with me, I started researching. I dove into understanding the ocean's magic properties, and after a year of tireless work, "The Ocean Healed My Eczema"™ was born. It was an all-natural soothing cream, my attempt to bottle that magic in a jar.
            </p>
            <p>
It worked wonders, not only for the appearance of my skin but also my niece's. The cream helped ease her incessant scratching, making school less of a daily trial for her. I felt a powerful calling to share this cream with the world.
            </p>
            <p>
And so, here I am. Ready to introduce this cream to the world - a small piece of my heart and a testament to my journey. If you can relate to my story, I invite you to try "The Ocean Healed My Eczema."™ The name might be a mouthful, but it symbolizes a journey that I am immensely proud of.
            </p>
            <p>
My hope is to build a community around the struggles of eczema, to help those who have felt as lost and isolated as I did. Here's to finding relief together. Thank you for joining me on this journey.
            </p>
            <p>
With love,
Jay
            </p>

        </div>
    </article>
</div>
